//- includes/teams/_2.pug
// section-2
section.uni-block#team-2
  .container
    .row.text-center.justify-content-center
      .col-8
        h1 Meet Our Team

    .row-50

    .row.text-center.justify-content-center
      .col-sm-3.m-sm-auto
        img.img-fluid(alt="image" src="./images/img_round.svg")
        h2 Sara Doe
        p Founder

      .col-sm-3.m-sm-auto
        img.img-fluid(alt="image" src="./images/img_round.svg")
        h2 Sara Doe
        p Founder

      .col-sm-3.m-sm-auto
        img.img-fluid(alt="image" src="./images/img_round.svg")
        h2 Sara Doe
        p Founder
