//- includes/teams/_7.pug
// section-7
section.uni-block#team-7
  .container
    .row.text-center.justify-content-center
      .col-8
        h1 Team

    .row-70

    .row.justify-content-center
      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

    .row-50

    .row.justify-content-center
      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

    .row-50

    .row.justify-content-center
      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position

      .col-sm-3.m-sm-auto
        .row.align-items-center
          .col-4
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-8
            h3 Employee Name
            p Position
