//- includes/pricings/_1.pug
// section-1
section.uni-block#pricing-1
  .container
    .row.text-center
      .col
        h1 Pricing

    .row.mt-5.align-items-center
      .col-12.col-sm-10.col-md-8.col-md-8.m-auto.col-lg-4.text-center
        .bg-dark.pb-5.pt-5.pl-3.pr-3.br
          h2.font-weight-light Hobby
          p.text-h2: strong $9 / month
          p.text-h3 Even the all-powerful Pointing has no control about the blind texts.
          ul.text-left.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p: a.btn.mt-4(href="#!") Subscribe

      .col-12.col-sm-10.col-md-8.col-md-8.m-auto.col-lg-4.text-center.pt-4.pt-lg-0
        .bg-dark.pb-5.pt-5.pl-3.pr-3.uni-touch.br
          h2.font-weight-light Professional
          p.text-h2: strong $19 / month
          p.text-h3 Far far away, behind the word mountains, far from the countries.
          ul.text-left.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p: a.btn.mt-4(href="#!") Subscribe

      .col-12.col-sm-10.col-md-8.col-md-8.m-auto.col-lg-4.text-center.pt-4.pt-lg-0
        .bg-dark.pb-5.pt-5.pl-3.pr-3.br
          h2.font-weight-light Business
          p.text-h2: strong $49 / month
          p.text-h3 Wild Question Marks, but the Little Blind Text didn’t listen.
          ul.text-left.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p: a.btn.mt-4(href="#!") Subscribe
