//- includes/pricings/_6.pug
// section-6
section.uni-block#pricing-6
  .container
    .row.text-center
      .col
        h1 Pricing Plans

    .row.mt-5.align-items-top
      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left
        .br
          .bg-dark.p-3.text-center
            h2.font-weight-light Startup
            p.text-h2: strong $9.90
          .bg-gray.p-5.text-center
            p: img(alt="image" height="40" src="./images/img_round.svg")
            p.text-h4: strong For small companies
            p: br
            p 10 hours of support
            p 40MB of storage
            p Subdomain
            p.text-center.pt-5: a.btn.btn-round(href="#!") Choose Plan

      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left.pt-4.pt-lg-0
        .br
          .bg-dark.p-3.text-center
            h2.font-weight-light Standard
            p.text-h2: strong $19.90
          .bg-gray.p-5.text-center
            p: img(alt="image" height="40" src="./images/img_round.svg")
            p.text-h4: strong For medium companies
            p: br
            p 10 hours of support
            p 40MB of storage
            p Subdomain
            p.text-center.pt-5: a.btn.btn-round(href="#!") Choose Plan

      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left.pt-4.pt-lg-0
        .br
          .bg-dark.p-3.text-center
            h2.font-weight-light Business
            p.text-h2: strong $29.90
          .bg-gray.p-5.text-center
            p: img(alt="image" height="40" src="./images/img_round.svg")
            p.text-h4: strong For large companies
            p: br
            p 10 hours of support
            p 40MB of storage
            p Subdomain
            p.text-center.pt-5: a.btn.btn-round(href="#!") Choose Plan
