//- includes/pricings/_8.pug
// section-8
section.uni-block#pricing-8
  .container
    .row.text-center
      .col
        h1 Pricing Plans

    .row.mt-5.align-items-top
      .col-12.col-md-8.m-auto.col-lg-4.text-center
        img(alt="image" height="80" src="./images/img_round.svg")
        h2: strong Startup
        p.text-h3.mb-4.mb-lg-5: em $9 / month
        p 10 hours of support
        p 40MB of storage
        p Subdomain
        p.text-center.mt-4.mt-lg-5: a.btn.btn-round(href="#!") Choose Plan

      .col-12.col-md-8.col-lg-4.text-center.m-auto.pt-5.pt-lg-0
        img(alt="image" height="80" src="./images/img_round.svg")
        h2: strong Advanced
        p.text-h3.mb-4.mb-lg-5: em $19 / month
        p 10 hours of support
        p 40MB of storage
        p Subdomain
        p.text-center.mt-4.mt-lg-5: a.btn.btn-round(href="#!") Choose Plan

      .col-12.col-md-8.m-auto.col-lg-4.text-center.pt-5.pt-lg-0
        img(alt="image" height="80" src="./images/img_round.svg")
        h2: strong Business
        p.text-h3.mb-4.mb-lg-5: em $29 / month
        p 10 hours of support
        p 40MB of storage
        p Subdomain
        p.text-center.mt-4.mt-lg-5: a.btn.btn-round(href="#!") Choose Plan
