//- includes/footers/_12.pug
// footer-12
footer.uni-block.footer-large#footer-12
  .container
    .row.text-center
      .col
        h3 Company Name
        p 70 Bowman St. #[br] South Windsor, CT 06074
        p USA
        p +13 827 312 5002

    .row.mt-4
      .col.text-center
        p.text-h3
          a.mr-2(href="#!"): i.fa.fa-twitter(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-facebook(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-instagram(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-pinterest(aria-hidden="true")
          a(href="#!"): i.fa.fa-google(aria-hidden="true")
