//- includes/footers/_2.pug
// footer-2
footer.uni-block.footer-small.bg-dark#footer-2
  .container
    .row.align-items-center
      .col-12.col-md-8
        ul.nav.justify-content-center.justify-content-md-start
          li.nav-item
            a.nav-link.active(href="#!") Home
          li.nav-item
            a.nav-link(href="#!") Features
          li.nav-item
            a.nav-link(href="#!") Terms
          li.nav-item
            a.nav-link(href="#!") About

      .col-12.col-md-4.mt-4.mt-md-0.text-center.text-md-right
        | &copy; 2019 Adorade. All Rights Reserved
