//- includes/footers/_4.pug
// footer-4
footer.uni-block.footer-small#footer-4
  .container
    .row.text-center.align-items-center
      .col-12.col-sm-6.col-md-4.text-sm-left
        img(alt="image" src="./images/img_logo.png" height="40")

      .col-12.col-sm-6.col-md-4.mt-4.mt-sm-0.text-center.text-sm-right.text-md-center
        | &copy; 2017-2019 Adorade

      .col-12.col-md-4.mt-4.mt-md-0.text-center.text-md-right
        a.mr-2(href="#!"): i.fa.fa-twitter(aria-hidden="true")
        a.mr-2(href="#!"): i.fa.fa-facebook(aria-hidden="true")
        a.mr-2(href="#!"): i.fa.fa-instagram(aria-hidden="true")
        a.mr-2(href="#!"): i.fa.fa-pinterest(aria-hidden="true")
        a(href="#!"): i.fa.fa-google(aria-hidden="true")
