//- includes/contents/_19.pug
// section-19
section.uni-block#content-19
  .container
    .row.text-left
      .col-12.col-md-6
        img.uni-icon(alt="image" src="./images/img_square_1.svg")
        h3: strong Awesome Things
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          | there live the blind texts. Far from the countries Vokalia and Consonantia.
      .col-12.col-md-6.pt-5.pt-md-0
        img.uni-icon(alt="image" src="./images/img_square_1.svg")
        h3: strong More Awesomeness
        p.text-h3
          | Separated they live in Bookmarksgrove right at the coast of the Semantics, far far away, behind the word mountains,
          | far from the countries #[a(href="#!") Vokalia and Consonantia], there live the blind texts.
