//- includes/contents/_2.pug
// section-2
section.uni-block#content-2
  .container
    .row.justify-content-center
      .col.col-md-8.text-center
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          | Separated they live in #[a(href="#!") Bookmarksgrove] right at the coast of the Semantics, a large language ocean.
