//- includes/contents/_21.pug
// section-21
section.uni-block#content-21
  .container
    .row.text-left
      .col-12.col-md-8.col-lg-6.ml-sm-auto
        .uni-box.uni-touch
          .row.justify-content-center
            .col-12.col-xl-8.text-center
              h1 Uni-Blocks
              p.text-h3
                | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
              p.text-h3.mt-4: a.btn.btn-round(href="#!") Register
