//- includes/contents/_25.pug
// section-25
section.uni-block#content-25
  .container
    .row
      .col-12
        .row.justify-content-center.pb-5
          .col-12.col-lg-8.text-center
            h1 Uni-Blocks is Open Source and free to use

        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
