//- includes/contents/_26.pug
// section-26
section.uni-block#content-26
  .col-fill-left(style="background-image: url(./images/bg_c_1.svg)")

  .container
    .row.justify-content-end
      .col-12.col-md-5.text-center
        h1 Adorade Blocks
        p.text-h3
          | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
        p.mt-4: a(href="#!") Learn More &gt;
