//- includes/contents/_35.pug
// section-35
section.uni-block#content-35
  .container
    .row.text-left.align-items-center
      .col-10.col-sm-6.m-auto.m-lg-0.col-lg-4
        img.img-fluid(alt="image" src="./images/img_square_1.svg")

      .col-12.col-lg-8.pt-4.pt-lg-0
        h1 Uni-Blocks
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          | Separated they live in Bookmarksgrove right at the coast of the Semantics.

        .row.mt-5
          .col-12.col-sm-6
            h3: strong Open Source
            p.text-h3 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.

          .col-12.col-sm-6.pt-3.pt-sm-0
            h3: strong UniKorn
            p.text-h3
              | Right at the coast of the Semantics, a large language ocean. A small river named Duden.
