//- includes/contents/_9.pug
// section-9
section.uni-block#content-9
  .container
    .row
      .col.text-center
        h1 Uni-Blocks

    .row.pt-4
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_2.jpg")

    .row.pt-4
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
