//- includes/features/_24.pug
// section-24
section.uni-block#features-24
  .container
    .row.align-items-top
      .col-12.col-md-6.col-xl-4.m-auto
        h2 Learn more about the Uni-Blocks you love

      .col-12.col-md-6.pt-5.pt-md-0
        .row.justify-content-left
          .col-3.m-auto.text-center
            img.uni-icon(alt="image" src="./images/img_round.svg")
            p: a(href="#!") One &gt;

          .col-3.m-auto.text-center
            img.uni-icon(alt="image" src="./images/img_round.svg")
            p: a(href="#!") Two &gt;

          .col-3.m-auto.text-center
            img.uni-icon(alt="image" src="./images/img_round.svg")
            p: a(href="#!") Three &gt;

        .row.justify-content-left.mt-4.mt-xl-5
          .col-3.m-auto.text-center
            img.uni-icon(alt="image" src="./images/img_round.svg")
            p: a(href="#!") Four &gt;

          .col-3.m-auto.text-center
            img.uni-icon(alt="image" src="./images/img_round.svg")
            p: a(href="#!") Five &gt;
