//- includes/features/_25.pug
// section-25
section.uni-block#features-25
  .container
    .row.text-center
      .col-12
        h1 There is a feature for everyone
        p.text-h3: a(href="#!") See all features &gt;

    .row.text-center.justify-content-center.mt-5
      .col-10.col-sm-3
        img.img-fluid(alt="image" src="./images/img_square_1.svg")
        h3: strong Feature One

      .col-10.col-sm-3.pt-5.pt-sm-0
        img.img-fluid(alt="image" src="./images/img_square_4.svg")
        h3: strong Feature Two

      .col-10.col-sm-3.pt-5.pt-sm-0
        img.img-fluid(alt="image" src="./images/img_square_2.svg")
        h3: strong Feature Three

      .col-10.col-sm-3.pt-5.pt-sm-0
        img.img-fluid(alt="image" src="./images/img_square_3.svg")
        h3: strong Feature Four
