//- includes/features/_30.pug
// section-30
section.uni-block#features-30
  .container
    .row.text-center
      .col-12.col-sm-6.col-md-3
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong The all-powerful Pointing has no control
        p.mt-3: a.btn(href="#!") Learn

      .col-12.col-sm-6.col-md-3.pt-5.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Far far away, behind the word mountains
        p.mt-3: a.btn(href="#!") Learn

      .col-12.col-sm-6.col-md-3.pt-5.pt-md-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong The Big Oxmox advised her not to do so
        p.mt-3: a.btn(href="#!") Learn

      .col-12.col-sm-6.col-md-3.pt-5.pt-md-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong The copy warned the Little Blind Text
        p.mt-3: a.btn(href="#!") Learn
