//- includes/testimonials/_3.pug
// section-3
section.uni-block#testimonial-3
  .container
    .row.text-center
      .col-12
        h3: strong You are in good company

        .mt-5.justify-content-center
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/adobe.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/discovery.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/ebay.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/samsung.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/orange.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/salesforce.svg")
        .mt-2.mt-md-5.justify-content-center
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/cisco.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/apple.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/ibm.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/intel.svg")
          img.ml-3.mr-3.mb-2.mt-2(alt="image" height="30" src="./images/customers/panasonic.svg")
