//- includes/headers/_8.pug
// header-8
header#header-8
  .container
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href="#!")
        img(src="./images/img_logo.png" height="30" alt="image")

      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarNav5
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="#!") Home #[span.sr-only (current)]
          li.nav-item
            a.nav-link(href="#!") Features
          li.nav-item
            a.nav-link(href="#!") Pricing
          li.nav-item
            a.nav-link(href="#!") Team

        ul.navbar-nav.justify-content-end.ml-auto
          li.nav-item
            a.nav-link(href="#!") Docs
          li.nav-item
            a.nav-link(href="#!") Contact
          li.nav-item
            a.nav-link(href="#!") Log In

        a.btn.ml-md-3(href="#!") Button
