//- includes/features/_12.pug
// section-12
section.uni-block#features-12
  .container
    .row.text-center
      .col-12
        h1 Features

    .row.text-left.mt-5
      .col-12.col-sm-6.col-lg-3
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature One
            p Even the all-powerful Pointing has no control about the blind texts.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-sm-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Two
            p Separated they live in Bookmarksgrove right at the coast.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Three
            p A small river named Duden flows by their place and supplies it.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Four
            p Far far away, behind the word mountains, far from the countries.

    .row.text-left.pt-3.pt-lg-5
      .col-12.col-sm-6.col-lg-3
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Five
            p On her way she met a copy. The copy warned the Little Blind Text.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-sm-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Six
            p Far far away, behind the word mountains, far from the countries.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Seven
            p Duden flows by their place far far away, behind the word mountains.

      .col-12.col-sm-6.col-lg-3.pt-3.pt-lg-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_round.svg")
          .col-9
            h3: strong Feature Eight
            p Separated they live in Bookmarksgrove right at the coast.
