//- includes/features/_22.pug
// section-22
section.uni-block#features-22
  .container
    .row.justify-content-center.pb-5
      .col-12.text-center
        h1 Feature Blocks

    .row.text-left.align-items-center.pt-5.pb-md-5
      .col-4.col-md-5
        img.img-fluid(alt="image" src="./images/img_square_1.svg")

      .col-12.col-md-5.m-md-auto
        h2: strong Feature One
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        p: a(href="#!") Learn More &gt;

    .row text-left align-items-center pt-5 pb-md-5
      .col-4 col-md-5 m-md-auto order-md-5
        img.img-fluid(alt="image" src="./images/img_square_3.svg")

      .col-12 col-md-5
        h2: strong Feature Two
        p.text-h3
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
          | One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
        p: a(href="#!") Learn More &gt;

    .row text-left align-items-center pt-5
      .col-4 col-md-5
        img.img-fluid(alt="image" src="./images/img_square_2.svg")

      .col-12 col-md-5 m-md-auto
        h2: strong Feature Three
        p.text-h3
          | On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
          | rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around.
        p: a(href="#!") Learn More &gt;
