//- includes/features/_27.pug
// section-27
section.uni-block#features-27
  .container
    .row.justify-content-center.pb-xl-5
      .col-12.col-sm-11.text-center
        h1 Feature Blocks
        img.img-fluid.mt-5(alt="image" src="./images/img_very_wide.svg")

    .row.text-left.justify-content-center.pt-5
      .col-12.col-md-6.col-lg-5.m-sm-auto
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_square_1.svg")
          .col-9
            h3: strong Feature One
            p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
      .col-12.col-md-6.col-lg-5.m-sm-auto.pt-3.pt-sm-5.pt-md-0
        .row
          .col-3
            img.img-fluid(alt="image" src="./images/img_square_1.svg")
          .col-9
            h3: strong Feature Two
            p Separated they live in Bookmarksgrove, right at the coast of the Semantics, a large language ocean.
