//- includes/features/_29.pug
// section-29
section.uni-block#features-29
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.text-center
        h1 Feature Blocks

    .row.justify-content-center.text-center.mt-5
      .col-12.col-sm-6.col-md-5.col-lg-3
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature one longer Text

      .col-12.col-sm-6.col-md-5.col-lg-3.pt-4.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature two shorter

    .row.justify-content-center.text-center.mt-5.mt-md-4
      .col-12.col-md-10.col-lg-8
        img.uni-icon(alt="image" src="./images/img_round.svg")
        p: em Coming this fall
