//- includes/features/_32.pug
// section-32
section.uni-block#features-32
  .container
    .row.text-left
      .col-12.col-md-8.m-auto.col-lg-4
        .uni-box.uni-touch
          h2 Feature 1
          p Far far away, behind the word mountains, far from the country Vokalia, there live the blind texts.
          p: a(href="#!") Read more

      .col-12.col-md-8.m-auto.col-lg-4.pt-5.pt-lg-0
        .uni-box.uni-touch
          h2 Feature 2
          p Separated they live in Bookmarks right at the coast of the Semantics, a large language ocean.
          p: a(href="#!") Read more

      .col-12.col-md-8.m-auto.col-lg-4.pt-5.pt-lg-0
        .uni-box.uni-touch
          h2 Feature 3
          p A small river named Duden flows by their small place and supplies it with the necessary regelialia.
          p: a(href="#!") Read more
