//- includes/features/_4.pug
// section-4
section.uni-block.bg-dark#features-4(style="background-image: url(./images/bg_0.svg)")
  .container
    .row
      .col.text-center
        h1 Feature Blocks

    .row-70

    .row.text-center.justify-content-sm-center.no-gutters
      .col-12.col-sm-10.col-md-8.col-lg-7.col-xl-3.m-auto
        .uni-box.uni-touch
          h2 Feature 1
          p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
          p.mt-4: a(href="#!") Learn More &gt;

      .col-12.col-sm-10.col-md-8.col-lg-7.col-xl-3.m-auto.pt-5.pt-xl-0
        .uni-box.uni-touch
          h2 Feature 2
          p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          p.mt-4: a(href="#!") Learn More &gt;

      .col-12.col-sm-10.col-md-8.col-lg-7.col-xl-3.m-auto.pt-5.pt-xl-0
        .uni-box.uni-touch
          h2 Feature 3
          p A small river named Duden flows by their place and supplies it with the necessary regelialia.
          p.mt-4: a(href="#!") Learn More &gt;
