//- includes/features/_7.pug
// section-7
section.uni-block#features-7
  .container
    .row.text-center
      .col-12.col-sm-6.col-lg-5.col-xl-4.m-auto
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature 1
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

      .col-12.col-sm-6.col-lg-5.col-xl-4.m-auto.pt-4.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature 2
        p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
