//- includes/features/_9.pug
// section-9
section.uni-block#features-9
  .container
    .row.text-center
      .col-12
        h1 Feature Blocks

    .row.text-center.justify-content-center.mt-5
      .col-12.col-sm-4.col-xl-3.m-md-auto
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature 1
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.

      .col-12.col-sm-4.col-xl-3.m-auto.pt-4.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature 2
        p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

      .col-12.col-sm-4.col-xl-3.m-auto.pt-4.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature 3
        p A small river named Duden flows by their place and supplies it with the necessary regelialia.
