//- call_to_action.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Call to Action';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/call_to_action/_1
  include includes/call_to_action/_2
  include includes/call_to_action/_3
  include includes/call_to_action/_4
  include includes/call_to_action/_5
  include includes/call_to_action/_6
  include includes/call_to_action/_7
  include includes/call_to_action/_8
  include includes/call_to_action/_9
  include includes/call_to_action/_10
  include includes/call_to_action/_11
  include includes/call_to_action/_12
  include includes/call_to_action/_13
  include includes/call_to_action/_14
  include includes/call_to_action/_15
  include includes/call_to_action/_16
  include includes/call_to_action/_17
  include includes/call_to_action/_18
  include includes/call_to_action/_19
  include includes/call_to_action/_20
  include includes/call_to_action/_21
  include includes/call_to_action/_22
