//- footers.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Footers';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/footers/_1
  include includes/footers/_2
  include includes/footers/_3
  include includes/footers/_4
  include includes/footers/_5
  include includes/footers/_6
  include includes/footers/_7
  include includes/footers/_8
  include includes/footers/_9
  include includes/footers/_10
  include includes/footers/_11
  include includes/footers/_12
