//- forms.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Forms';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/forms/_1
  include includes/forms/_2
  include includes/forms/_3
  include includes/forms/_4
  include includes/forms/_5
  include includes/forms/_6
  include includes/forms/_7
  include includes/forms/_8
  include includes/forms/_9
  include includes/forms/_10
  include includes/forms/_11
  include includes/forms/_12
