//- pricing.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Pricing';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/pricings/_1
  include includes/pricings/_2
  include includes/pricings/_3
  include includes/pricings/_4
  include includes/pricings/_5
  include includes/pricings/_6
  include includes/pricings/_7
  include includes/pricings/_8
  include includes/pricings/_9
  include includes/pricings/_10
