//- testimonials.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Testimonials';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/testimonials/_1
  include includes/testimonials/_2
  include includes/testimonials/_3
  include includes/testimonials/_4
  include includes/testimonials/_5
  include includes/testimonials/_6
  include includes/testimonials/_7
  include includes/testimonials/_8
  include includes/testimonials/_9
  include includes/testimonials/_10
