//- contacts.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Contacts';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/contacts/_1
  include includes/contacts/_2
  include includes/contacts/_3
  include includes/contacts/_4
  include includes/contacts/_5
  include includes/contacts/_6
  include includes/contacts/_7
  include includes/contacts/_8
  include includes/contacts/_9
  include includes/contacts/_10
