//- contents.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Contents';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/contents/_1
  include includes/contents/_2
  include includes/contents/_3
  include includes/contents/_4
  include includes/contents/_5
  include includes/contents/_6
  include includes/contents/_7
  include includes/contents/_8
  include includes/contents/_9
  include includes/contents/_10
  include includes/contents/_11
  include includes/contents/_12
  include includes/contents/_13
  include includes/contents/_14
  include includes/contents/_15
  include includes/contents/_16
  include includes/contents/_17
  include includes/contents/_18
  include includes/contents/_19
  include includes/contents/_20
  include includes/contents/_21
  include includes/contents/_22
  include includes/contents/_23
  include includes/contents/_24
  include includes/contents/_25
  include includes/contents/_26
  include includes/contents/_27
  include includes/contents/_28
  include includes/contents/_29
  include includes/contents/_30
  include includes/contents/_31
  include includes/contents/_32
  include includes/contents/_33
  include includes/contents/_34
  include includes/contents/_35
