//- cta.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Call to Action';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/cta/_1
  include includes/cta/_2
  include includes/cta/_3
  include includes/cta/_4
  include includes/cta/_5
  include includes/cta/_6
  include includes/cta/_7
  include includes/cta/_8
  include includes/cta/_9
  include includes/cta/_10
  include includes/cta/_11
  include includes/cta/_12
  include includes/cta/_13
  include includes/cta/_14
  include includes/cta/_15
  include includes/cta/_16
  include includes/cta/_17
  include includes/cta/_18
  include includes/cta/_19
  include includes/cta/_20
  include includes/cta/_21
  include includes/cta/_22
