//- features.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Features';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/features/_1
  include includes/features/_2
  include includes/features/_3
  include includes/features/_4
  include includes/features/_5
  include includes/features/_6
  include includes/features/_7
  include includes/features/_8
  include includes/features/_9
  include includes/features/_10
  include includes/features/_11
  include includes/features/_12
  include includes/features/_13
  include includes/features/_14
  include includes/features/_15
  include includes/features/_16
  include includes/features/_17
  include includes/features/_18
  include includes/features/_19
  include includes/features/_20
  include includes/features/_21
  include includes/features/_22
  include includes/features/_23
  include includes/features/_24
  include includes/features/_25
  include includes/features/_26
  include includes/features/_27
  include includes/features/_28
  include includes/features/_29
  include includes/features/_30
  include includes/features/_31
  include includes/features/_32
  include includes/features/_33
