//- teams.pug
extends layout/_base

prepend head
  - var title = 'Uni-Blocks - Teams';

append styles
  style.
    .uni-block {
      border-bottom: solid 1px #eee;
    }

append content
  include includes/teams/_1
  include includes/teams/_2
  include includes/teams/_3
  include includes/teams/_4
  include includes/teams/_5
  include includes/teams/_6
  include includes/teams/_7
  include includes/teams/_8
