//- includes/call_to_action/_19.pug
// section-19
section.uni-block#call-to-action-19
  .container.align-items-center.justify-content-center.d-flex
    .row.align-items-center.text-left
      .col-12.col-sm-6
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")

      .col-12.col-lg-5.ml-auto.pt-5.pt-lg-0
        h1 Uni-Blocks
        ptext-h3
          | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
          | One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
        p.mt-4: a.btn(href="#!") Call to Action
