//- includes/call_to_action/_2.pug
// section-2
section.uni-block#call-to-action-2
  .container
    .row.justify-content-center
      .col-12.col-md-6.text-center
        h1 Call to Action
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia
          | and Consonantia, there live the blind texts
        p.mt-5.mt-sm-4: a.btn(href="#!") Download
