//- modules/_footer.pug
footer.uni-block.footer-small
  .container
    .row.text-center
      .col
        p.mb-0 &copy; 2019 UniKorn. All Rights Reserved
        p.
          Made with #[span(style="color: #e25555;") &hearts;] in Romania
          by #[a(style="color: #007bff;" href="https://adorade.ro") Adorade]
