//- includes/footers/_8.pug
// footer-8
footer.uni-block.footer-small#footer-8
  .container
    .row.align-items-center
      .col-12.col-md-6
        ul.nav.justify-content-center.justify-content-md-start
          li.nav-item
            a.nav-link.active(href="#!") Home
          li.nav-item
            a.nav-link(href="#!") Features
          li.nav-item
            a.nav-link(href="#!") Terms
          li.nav-item
            a.nav-link(href="#!") About

      .col.mt-4.mt-md-0.text-center.text-md-right
        a.btn(href="#!") Contact Us
