//- includes/css/_1.pug
// section-1
section.uni-block#css-1
  .container
    .row
      .col-12
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6

        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius dolor purus, et eleifend lectus congue id.
          | Quisque tempor metus ligula, lacinia rutrum enim ultrices eget. Etiam vitae sem massa. Pellentesque vestibulum ex lectus,
          | nec cursus tortor sollicitudin ut. Nullam volutpat ligula ut odio condimentum, sit amet facilisis nulla tempus.
          | Morbi et hendrerit diam, sit amet luctus orci. Quisque egestas, lacus ac iaculis accumsan, quam eros tempus sem,
          | ac ultrices felis eros porttitor nibh. Nunc condimentum mauris dapibus, pretium ipsum ac, lacinia nisi. Nulla facilisi.

        p
          a.btn(href="#!") Button
          a.btn.btn-empty(href="#!") Button Empty
          a.btn.btn-black(href="#!") Button Black
          a.btn.btn-black.btn-empty(href="#!") Button Black Empty
          a.btn.btn-white(href="#!") Button White
          a.btn.btn-white.btn-empty(href="#!") Button White Empty

        p
          a.btn.btn-shadow(href="#!") Button
          a.btn.btn-empty.btn-shadow(href="#!") Button Empty
          a.btn.btn-black.btn-shadow(href="#!") Button Black
          a.btn.btn-black.btn-empty.btn-shadow(href="#!") Button Black Empty
          a.btn.btn-white.btn-shadow(href="#!") Button White
          a.btn.btn-white.btn-empty.btn-shadow(href="#!") Button White Empty

        p
          a.btn.btn-round(href="#!") Button
          a.btn.btn-empty.btn-round(href="#!") Button Empty
          a.btn.btn-black.btn-round(href="#!") Button Black
          a.btn.btn-black.btn-empty.btn-round(href="#!") Button Black Empty
          a.btn.btn-white.btn-round(href="#!") Button White
          a.btn.btn-white.btn-empty.btn-round(href="#!") Button White Empty

        p: a(href="#!") Link

        h1 Heading 1 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h2 Heading 2 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h3 Heading 3 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h4 Heading 4 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h5 Heading 5 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h6 Heading 6 + P
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
