//- includes/contents/_10.pug
// section-10
section.uni-block#content-10
  .container
    .row
      .col.text-center
        h1 Uni-Blocks

    .row.pt-4
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
      .col
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
