//- includes/contents/_12.pug
// section-12
section.uni-block#content-12
  .container
    .row.align-items-center
      .col-12.col-md-6.col-lg-5
        h1 Design Blocks
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-12.col-md-6.ml-md-auto.mt-4.mt-md-0
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
