//- includes/contents/_14.pug
// section-14
section.uni-block#content-14
  .container
    .row.align-items-center
      .col-12.col-md-6.mb-4.mb-md-0
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
      .col-12.col-md-6.col-lg-5.ml-md-auto.text-left
        h1 Adorade Blocks
        p.text-h3
          | A small river named Duden flows by their place and supplies it with the necessary regelialia.
          | It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        p: abtn.btn-round.mt-4(href="#!") Download
