//- includes/contents/_22.pug
// section-22
section.uni-block#content-22
  .container
    .row.justify-content-center
      .col-12.col-lg-8.col-xl-6.text-center
        img(alt="image" width="200" src="./images/img_logo.png")
        h1 Uni-Blocks
        p.text-h3
          | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies
        p.text-h3.mt-5: a.btn.btn-round(href="#!") Download Now
        p Latest Version: 2.3.5
