//- includes/contents/_27.pug
// section-27
section.uni-block#content-27
  .col-fill-right(style="background-image: url(./images/bg_c_2.svg)")

  .container.pt-5.pb-5
    .row
      .col-12.col-md-5.text-center
        h1 Adorade Blocks
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        p.mt-4.mb-5
          a.btn(href="#!") Button
        p Follow us on
        p
          a.mr-2(href="#!"): i.fa.fa-twitter(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-facebook(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-instagram(aria-hidden="true")
          a.mr-2(href="#!"): i.fa.fa-pinterest(aria-hidden="true")
          a(href="#!"): i.fa.fa-google(aria-hidden="true")
