//- includes/contents/_33.pug
// section-33
section.uni-block#content-33
  .container
    .row.text-left
      .col-12.col-md-8.col-lg-6
        .uni-box.uni-touch.br-0
          h2: strong Uni-Blocks
          p.text-h3
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            | Separated they live in Bookmarksgrove right at the coast of the Semantics
          p.text-h3.mt-4: a(href="#!") Read More
