//- includes/contents/_8.pug
// section-8
section.uni-block#content-8
  .container
    .row
      .col.text-center
        h1 Uni-Blocks
        h2 Subtitle comes here.
        p.text-h3
          a.mr-4(href="#!") Learn More &gt;
          a(href="#!") Buy &gt;
        img.img-fluid.mt-5(alt="image" src="./images/colors_wide_1.jpg")
