//- includes/teams/_1.pug
// section-1
section.uni-block#team-1
  .container
    .row.text-center.justify-content-center
      .col-8
        h1 Our Team
        p.text-h3 Far far away, behind the word mountains, far from the countries.

    .row-50

    .row
      .col-sm-3.text-left
        .uni-box
          img.img-fluid(alt="image" src="./images/img_square_1.svg")
          .content
            h3: strong Sara Doe
            p Founder

      .col-sm-3.text-left
        .uni-box
          img.img-fluid(alt="image" src="./images/img_square_2.svg")
          .content
            h3: strong Sara Doe
            p Founder

      .col-sm-3.text-left
        .uni-box
          img.img-fluid(alt="image" src="./images/img_square_3.svg")
          .content
            h3: strong Sara Doe
            p Founder

      .col-sm-3.text-left
        .uni-box
          img.img-fluid(alt="image" src="./images/img_square_4.svg")
          .content
            h3: strong Sara Doe
            p Founder
