//- includes/teams/_6.pug
// section-6
section.uni-block#team-6
  .container
    .row.text-center.justify-content-center
      .col-8
        h1 Team

    .row.text-center
      .col-4
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
        h3: strong John Smith
        p Position
        p Separated they live in Bookmarksgrove right at the coast of the Semantics.

      .col-4
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
        h3: strong John Smith
        p Position
        p One morning, when Gregor Samsa woke from troubled dreams.

      .col-4
        img.img-fluid(alt="image" src="./images/colors_wide_1.jpg")
        h3: strong John Smith
        p Position
        p A small river named Duden flows by their place and supplies it.
