//- includes/contacts/_10.pug
// section-10
section.uni-block#contact-10
  .container
    .row.text-center.justify-content-center
      .col-12.col-md-8.col-lg-7
        h1 Contact Us
        p.text-h3
          | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    .row-70

    .row
      .col-12.col-md-8.col-lg.m-auto
        form(action="#!")
          .row
            .col
              input.form-control(type="email" placeholder="Enter email")

          .row.mt-4
            .col
              input.form-control(type="phone" placeholder="Phone")

          .row.mt-4
            .col
              input.form-control(type="email" placeholder="Subject")

          .row.mt-4
            .col
              textarea.form-control(name="message" rows="3" placeholder="How can we help?")

          .row.mt-4
            .col
              button.btn(type="submit") Submit

      .col-12.col-md-8.col-lg.pt-5.m-auto.pt-lg-0
        include ../../misc/_google-map

        p.mt-4: strong Showroom
        p 71 Pilgrim Avenue #[br] Chevy Chase, MD 20815
