//- includes/contacts/_3.pug
// section-3
section.uni-block#contact-3
  .container
    .row.text-center.justify-content-center
      .col-12.col-md-8.col-lg-7
        h1 Contact Us
        p.text-h3
          | One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.

    .row.pt-4
      .col-12.col-md-6
        include ../../misc/_google-map

      .col-12.col-md-6.pt-5.pt-md-0
        form(action="#!")
          .row
            .col
              input.form-control(type="email" placeholder="Enter email")

          .row.mt-4
            .col
              input.form-control(type="text" placeholder="Subject")

          .row.mt-4
            .col
              textarea.form-control(name="message" rows="3" placeholder="How can we help?")

          .row.mt-4
            .col
              button.btn(type="submit") Submit
