//- includes/contacts/_4.pug
// section-4
section.uni-block#contact-4(style="background-image: url(./images/bg_0.svg)")
  .container
    .row
      .col
        .uni-box.uni-touch
          .row.text-center.justify-content-center
            .col-12.col-md-9.col-lg-7
              h1 Contact Us
              p.text-h3
                | Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.

          .row.justify-content-center.pt-4
            .col-12.col-md-8
              form(action="#!")
                .row
                  .col-12.col-md
                    input.form-control(type="text" placeholder="Name")
                  .col-12.col-md.mt-4.mt-md-0
                    input.form-control(type="email" placeholder="Email")

                .row.mt-4
                  .col
                    input.form-control(type="text" placeholder="Subject")

                .row.mt-4
                  .col
                    textarea.form-control(name="message" rows="3" placeholder="How can we help?")

                .row.mt-4
                  .col text-center
                    button.btn(type="submit") Submit
