//- includes/contacts/_6.pug
// section-6
section.uni-block.pt-0#contact-6
  .container-fluid.p-0.pb-5
    include ../../misc/_google-map

  .container
    .row.pt-5
      .col-12
        form(action="#!")
          .row
            .col-12.col-md
              label First Name
              input.form-control(type="text")
            .col-12.col-md.mt-4.mt-md-0
              label Last Name
              input.form-control(type="text")

          .row.mt-4
            .col
              label Your Email
              input.form-control(type="email")

          .row.mt-4
            .col
              label Subject (optional but helpful)
              input.form-control(type="text")

          .row.mt-4
            .col
              label How can we help?
              textarea.form-control(name="message" rows="3")

          .row.mt-4.text-center
            .col
              button.btn(type="submit") Submit
