//- includes/contacts/_7.pug
// section-7
section.uni-block.pb-0#contact-7(style="background-image: url(./images/bg_3.svg)")
  .container
    .row.text-center.justify-content-center
      .col-12.col-md-8.col-lg-7
        h1 Contact Us
        p.text-h3
          | If you’re already an active user, please #[a(href="#!") sign in] before contacting us.
    .row-50

    .row.justify-content-center
      .col-12.col-md-8.col-lg-7
        form(action="#!")
          .row
            .col
              label Your Email Address
              input.form-control(type="email")

          .row.mt-4
            .col
              label Subject (optional but helpful)
              input.form-control(type="text")

          .row.mt-4
            .col
              label How can we help?
              textarea.form-control(name="message" rows="3")

          .row.mt-4
            .col.text-right
              button.btn(type="submit") Submit
    .row-100

  .container-fluid.p-0
    include ../../misc/_google-map
