//- includes/forms/_10.pug
// section-10
section.uni-block#form-10
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.col-xl-6.text-center
        h1 Company Name
        p.text-h3 When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown.
        .input-group.mt-5.mb-5
          input.form-control(type="text" placeholder="Enter your email address")
          span.input-group-btn
            button.btn(type="button") Submit
        p.text-h2
          a.mr-3(href="#!"): i.fa.fa-facebook
          a.mr-3(href="#!"): i.fa.fa-twitter
          a.mr-3(href="#!"): i.fa.fa-instagram
          a.mr-3(href="#!"): i.fa.fa-google
          a(href="#!"): i.fa.fa-pinterest
