//- includes/forms/_12.pug
// section-12
section.uni-block#form-12(style="background-image: url(./images/bg_c_2.svg);")
  .container
    .row.justify-content-end
      .col-12.col-md-9.col-lg-8
        .uni-box.uni-touch
          .row.justify-content-center
            .col-12.col-lg-10
              h1 Subscribe
              p.text-h3 When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove.

          .row.justify-content-center.mt-4
            .col-12.col-lg-10
              .input-group
                input.form-control(type="text" placeholder="Enter your email address")
                span.input-group-btn
                  button.btn(type="button") Submit
