//- includes/forms/_2.pug
// section-2
section.uni-block#form-2(style="background-image: url(./images/bg_2.svg)")
  .container
    .uni-box
      .row.justify-content-center.align-items-center
        .col-12.col-lg-6
          h2 Join us!
          p.text-h3 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
        .col-12.col-lg-5.text-center
          .input-group.mt-4
            input.form-control(type="text" placeholder="Enter your email address")
            span.input-group-btn
              button.btn(type="button") Submit
