//- includes/forms/_3.pug
// section-3
section.uni-block#form-3
  .container
    .row.justify-content-center
      .col-12.col-lg-10.col-xl-8.text-center
        .row
          .col
            h1 Register
            p.text-h3 When she reached the first hills, she had a last view back on the skyline of her hometown.

        form(action="#!")
          .row.align-items-center
            .col-12.col-md-5.mt-4
              input.form-control(type="text" placeholder="Email")
            .col-12.col-md-5.mt-4
              input.form-control(type="text" placeholder="Password")
            .col-12.col-md-2.mt-4
              button.btn(type="button") Submit
