//- includes/forms/_4.pug
// section-4
section.uni-block#form-4(style="background-image: url(./images/alt_wide_1.svg)")
  .container
    .row
      .col-12.col-md-8.col-lg-7.col-xl-5.text-left
        .row
          .col
            h1 Sign Up
            p.text-h3 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.

        form(action="#!")
          .row
            .col.mt-4
              input.form-control(type="text" placeholder="Email")

          .row.mt-4
            .col
              input.form-control(type="text" placeholder="Password")

          .row.mt-4
            .col
              button.btn(type="button") Submit
