//- includes/forms/_8.pug
// section-8
section.uni-block#form-8
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-7.col-md-5.text-center
        .uni-box.uni-touch
          .row
            .col
              h1 Register

          .row
            .col.mt-4
              input.form-control(type="text" placeholder="Name")

          .row.mt-4
            .col
              input.form-control(type="email" placeholder="Email")

          .row.mt-4
            .col
              input.form-control.mb-1(type="password" placeholder="Password")
              p.text-right: a(href="#!") Already have an account?

          .row.mt-4
            .col
              button.btn(type="button") Submit
