//- includes/forms/_8.pug
// section-8
section.uni-block#form-8
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-7.col-md-5.text-center
        .uni-box.uni-touch
          .row
            .col
              h1 Register

          form(action="#!")
            .row
              .col.mt-4
                input.form-control(type="text" placeholder="Name")

            .row
              .col.mt-4
                input.form-control(type="email" placeholder="Email")

            .row
              .col.mt-4
                input.form-control.mb-1(type="password" placeholder="Password")
                p.text-right: a(href="#!") Already have an account?

            .row
              .col.mt-4
                button.btn(type="button") Submit
