//- includes/forms/_9.pug
// section-9
section.uni-block.bg-gray#form-9
  .container
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8.col-xl-6.text-center
        img(alt="image" height="40" src="./images/img_round.svg")
        h1 Never miss an update
        p.text-h3 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        form(action="#!")
          .input-group.mt-4.mb-4
            input.form-control(type="text" placeholder="Enter your email address")
            span.input-group-btn
              button.btn(type="button") Submit
        p.text-h5: em *Your email address is safe with us. We never share your email address.
