//- includes/headers/_12.pug
// header-12
header.bg-dark#header-12
  .container.text-center
    nav.navbar
      a.ml-auto.mr-auto(href="#!")
        img(src="./images/img_logo.png" height="30" alt="image")
