//- includes/headers/_3.pug
// header-3
header#header-3
  .container
    nav.navbar.navbar-expand-md
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav0" aria-controls="navbarNav0" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarNav0
        ul.navbar-nav.mr-auto.ml-auto
          li.nav-item.active
            a.nav-link(href="#!") Home #[span.sr-only (current)]
          li.nav-item
            a.nav-link(href="#!") Features
          li.nav-item
            a.nav-link(href="#!") Pricing
          li.nav-item
            a.nav-link(href="#!") Team
