//- includes/pricings/_2.pug
// section-2
section.uni-block#pricing-2
  .container
    .row.text-center
      .col
        h1 Pricing

    .row.mt-5.align-items-center
      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left
        .uni-box.uni-touch.p-5.br
          h2 Hobby #[strong.float-xl-right.d-lg-block.d-xl-inline $99]
          p.text-h3: em Copy Writers ambushed her, made her drunk with Longe.
          ul.text-left.pl-3.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p.text-left.pt-4: a.btn(href="#!") Buy Now

      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left.pt-4.pt-lg-0
        .uni-box.uni-touch.p-5.br
          h2 Advanced #[strong.float-xl-right.d-lg-block.d-xl-inline $349]
          p.text-h3: em Separated they live in Bookmarks right at the coast.
          ul.text-left.pl-3.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p.text-left.pt-4: a.btn(href="#!") Buy Now

      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-left.pt-4.pt-lg-0
        .uni-box.uni-touch.p-5.br
          h2 Business #[strong.float-xl-right.d-lg-block.d-xl-inline $849]
          p.text-h3: em A small river named Duden flows by their place.
          ul.text-left.pl-3.mt-5.mb-5
            li Item 1
            li Item 2
            li Item 3
          p.text-left.pt-4: a.btn(href="#!") Buy Now
