//- includes/pricings/_5.pug
// section-5
section.uni-block.bg-dark#pricing-5(style="background-image: url(./images/bg_1.svg);")
  .container
    .row.text-center
      .col
        h1 Pricing Plans

    .row.mt-5.align-items-center.no-gutters
      .col-12.col-sm-10.col-md-8.m-auto.col-lg-4.text-center
        .bg-gray.pb-5.pt-5.pl-4.pr-4
          h2.font-weight-light Basic
          p.text-h1.mt-5.mb-5 #[strong $19] #[span.text-h4 /month]
          ul.text-left
            li Item 1
            li Item 2
            li Item 3
          p.text-center.pt-4: a.btn.btn-round.btn-white.btn-shadow(href="#!") Choose Plan

      .col-12.col-sm-10.col-md-8.ml-auto.mr-auto.col-lg-4.text-center.mt-4.mt-lg-0.sl-1.pt-0.pt-lg-3.pb-0.pb-lg-3.bg-gray.uni-touch
        .pb-5.pt-5.pl-4.pr-4
          h2.font-weight-light Standard
          p.text-h1.mt-5.mb-5 #[strong $49] #[span.text-h4 /month]
          ul.text-left
            li Item 1
            li Item 2
            li Item 3
          p.text-center.pt-4: a.btn.btn-round.btn-shadow(href="#!") Choose Plan

      .col-12.col-sm-10.col-md-8.ml-auto.mr-auto.col-lg-4.text-center.mt-4.mt-lg-0
        .bg-gray.pb-5.pt-5.pl-4.pr-4
          h2.font-weight-light OEM
          p.text-h1.mt-5.mb-5 #[strong $99] #[span.text-h4 /month]
          ul.text-left
            li Item 1
            li Item 2
            li Item 3
          p.text-center.pt-4: a.btn.btn-round.btn-white.btn-shadow(href="#!") Choose Plan
