//- includes/forms/_1.pug
// section-1
section.uni-block#form-1
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-6.text-center
        h1 Subscribe
        .input-group.mt-4.mb-4
          input.form-control(type="text" placeholder="Enter your email address")
          span.input-group-btn
            button.btn(type="button") Submit
        p.text-h4
          | Find us on #[a(href="#!") Facebook] and #[a(href="#!") Twitter].
