//- includes/forms/_5.pug
// section-5
section.uni-block#form-5(style="background-image: url(./images/bg_4.svg)")
  .container
    .row.justify-content-end
      .col-12.col-md-8.col-lg-6.col-xl-5.text-left
        .uni-box
          .row
            .col
              h1 Log In
              p.text-h3 Right at the coast of the Semantics, a large language ocean. A small river named Duden.

          .row
            .col.mt-4
              input.form-control(type="email" placeholder="Email")

          .row.mt-4
            .col
              input.form-control(type="password" placeholder="Password")

          .row.mt-4
            .col
              button.btn(type="button") Submit
