//- includes/call_to_action/_10.pug
// section-10
section.uni-block.pb-0#call-to-action-10(style="background-image: url(./images/bg_1.svg)")
  .container
    .row.justify-content-end
      .col-12.col-md-8.col-lg-6.text-center
        .uni-box.br-0
          h1 Call to Action
          p.text-h3
            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
          p.mt-4: a.btn(href="#!") Download
