//- includes/call_to_action/_12.pug
// section-12
section.uni-block#call-to-action-12(style="background-image: url(./images/alt_wide_2.svg)")
  .container
    .row
      .col-12.col-sm-10.col-md-8.col-lg-6.text-left
        h1 Call to Action
        p.text-h3
          | A small river named Duden flows by their place and supplies it with the necessary regelialia.
          | It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        p.mt-4: a.btn(href="#!") Download
