//- includes/call_to_action/_21.pug
// section-21
section.uni-block.uni-viewport#call-to-action-21(style="background-image: url(./images/alt_wide_1.svg)")
  .container.align-items-center.justify-content-center.d-flex
    .row.align-items-center.text-left
      .col-12.col-sm-10.col-md-8.col-lg-6
        h1 Uni-Blocks is build on UniKorn Framework
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there.
        p.mt-5
          a.btn.btn-shadow(href="#!") Call to Action
          a.btn.btn-white.btn-shadow(href="#!") Button
