//- includes/call_to_action/_22.pug
// section-22
section.uni-block#call-to-action-22
  .container
    .row.justify-content-center
      .col-12.col-md-8.col-lg-5.text-center.pb-md-5
        h1 Uni-Blocks
        p.text-h3
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
        p.mt-4: a.btn(href="#!") Call to Action

    .row.text-center.justify-content-center.pt-5
      .col-12.col-sm-6.col-lg-3
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature One
        p Far far away, behind the word mountains, far from the countries

      .col-12.col-sm-6.col-lg-3.pt-4.pt-sm-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature Two
        p Separated they live in Bookmarksgrove right at the coast

      .col-12.col-sm-6.col-lg-3.pt-4.pt-lg-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature Three
        p A small river named Duden flows by their place and supplies it

      .col-12.col-sm-6.col-lg-3.pt-4.pt-lg-0
        img.uni-icon(alt="image" src="./images/img_round.svg")
        h3: strong Feature Four
        p Far far away, behind the word mountains, far from the countries
