//- includes/call_to_action/_3.pug
// section-3
section.uni-block#call-to-action-3
  .container
    .row.justify-content-center
      .col-12.col-sm-8.col-md-6.col-lg-4.text-center
        h3: strong Right at the coast of the Semantics, a large language ocean. A small river named Duden.
        p.mt-5.mt-sm-4: a.btn(href="#!") Download
