//- includes/call_to_action/_5.pug
// section-5
section.uni-block#call-to-action-5
  .container
    .row.justify-content-center
      .col-12.col-md-8.text-center
        h1 Far far away, behind the word mountains, far from
        p.mt-5: a.btn(href="#!") Download
