//- includes/call_to_action/_6.pug
// section-6
section.uni-block#call-to-action-6
  .container
    .row.justify-content-center
      .col-12.col-sm-10.col-md-8.col-lg-4.text-center
        p.text-h3
          | Follow us and ask more on:
        p.text-h2
          a.mr-4(href="#!"): i.fa.fa-facebook
          a.mr-4(href="#!"): i.fa.fa-twitter
          a.mr-4(href="#!"): i.fa.fa-instagram
          a.mr-4(href="#!"): i.fa.fa-google
          a(href="#!"): i.fa.fa-pinterest
