//
// Header
// =============================================================================

header {
  background-color: $white;

  .navbar-nav {
    .nav-link {
      color: #777;

      &:hover {
        color: $primary-color;
      }
    }

    .active {
      .nav-link {
        color: $font-color;
      }
    }
  }

  .navbar-toggler-icon { // stylelint-disable-next-line
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

}

.bg-dark {
  .navbar-nav {
    .nav-link {
      color: #dcdcdc;

      &:hover {
        color: $primary-color;
      }
    }

    .active {
      .nav-link {
        color: #fff;
      }
    }
  }

  .navbar-toggler-icon { // stylelint-disable-next-line
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

header + header {
  border-top: solid 1px #eee;
}
