//
// Typo
// =============================================================================
// stylelint-disable declaration-no-important

.br {
  @include border-radius(4px);
  overflow: hidden;
}

.br-0 {
  @include border-radius(0 !important);
}

.heart {
  color: #df584e;
  font-weight: 900;
}

*.text-light {
  font-weight: 300 !important;
}

.sl-1 {
  @include uni-box-shadow(1);
  z-index: 2;
}
